<div class="container col-12">
  <footer class="py-3 my-4">

    <div class="footer container-fluid" style="margin-left:auto; margin-right:auto;">
      <div class="row" style="text-align: center;">
        <div class="col-lg-auto col-md-3 footer-icon-div">
        <a class="footer-icon" href="https://github.com/alielbekov/" target="_blank" rel="noopener noreferrer">
          Github <i class="fab fa-light fa-github fa-lg footer-icon"></i></a>
        </div>
        <div class="col-lg-auto col-md-3 footer-icon-div">
          <a class="footer-icon" href="https://www.linkedin.com/in/%F0%9F%91%A8%E2%80%8D%F0%9F%8E%93-ali-elbekov-b0077a203/" target="_blank" rel="noopener noreferrer">
            LinkedIn <i class="fab fa-light fa-linkedin fa-lg footer-icon"></i></a>
        </div>
          <div class="col-lg-auto col-md-3 footer-icon-div">
            <a class="footer-icon" href="https://t.me/alielbekov" target="_blank" rel="noopener noreferrer">
              Telegram <i class="fab fa-light fa-telegram fa-lg footer-icon"></i></a>
          </div>
          <div class="col-lg-auto col-md-3 footer-icon-div">
            <a class="footer-icon" href="https://www.instagram.com/alielbekov/" target="_blank" rel="noopener noreferrer">
              Instagram <i class="fab fa-light fa-instagram fa-lg footer-icon"></i></a>
          </div>
    </div>
    </div>

  </footer>

</div>


<!--







 -->

<script type="text/javascript">
</script>
</body>
</html>
