<div class="landing">
  <div class="myshadow">
    <div class="me">
      <img class="profile profile-pic" src="images/profilepic.jpg" alt="profile-pic.jpg">
      <br>
      <p style="margin-top: 10px; font-size: 20px;">Ali, Computer Science student at the University of Arizona.</p>
      <p style="margin-top: 10px; font-size: 25px; color: white;">I love coding, creating, and building applications.</p>
    </div>
    <div class="projects-box">
    <h2 style="color:white;">My public projects:</h2>
    <div class="row">
      <div class="project-item col">
        <img class = "project-icon"
        src="https://raw.githubusercontent.com/hackharvard/hackharvard.github.io/master/public/HH22_logo.png" alt="">
        <a href="https://github.com/alielbekov/HackHarvard2022">Ctrl+C; Ctrl+V</a>
        <br>
        <div style="height: 200px; overflow: hidden; margin-bottom:20px;">
        <a href="/images/crtl.png">
         <img class = "project-img" src="/images/crtl.png" alt="project.jpg">
        </a>
      </div>
        <div class="project-info">
          A web-app that uses Discord bot and  Social Media platforms' APIs to save posts from those platforms.
        </div>
        <div class="project-tools">
          Tools:
          discord.js,
          nodejs,
          graphAPI
        </div>
      </div>

      <div class="project-item col">
        <img class = "project-icon"
        src="https://ix.hackutd.co/_next/image?url=%2Fassets%2FHackUTD-IX-Logo.png&w=3840&q=75" alt="">
        <a href="https://devpost.com/software/insure-it-ce2mvr">Review IT</a>
        <br>
        <div style="height: 200px; overflow: hidden; margin-bottom:20px;">
          <a href="https://d112y698adiu2z.cloudfront.net/photos/production/software_photos/002/295/309/datas/original.png">
           <img class = "project-img" src="https://d112y698adiu2z.cloudfront.net/photos/production/software_photos/002/295/309/datas/original.png" alt="project.jpg">
          </a>
        </div>
        <div class="project-info">
          A hackathon react-app thatt provides CBRE with actionable insights sourced from customer reviews.
          The app reads customer reviews and determines what improvements can be made to user experience with CBRE.
        </div>
        <br><br>
        <div class="project-tools">
          Tools:
          React,
          Flask,
          Chart.js,
          WebScraping,
          Natural-Language-Processing
          Google's machine learning library
        </div>
      </div>
    </div>
    <div class="row">



      <div class="project-item col">
        <a href="http://137.184.74.25:8080/">IMDB Graph Visualization</a>
        <br>
        <div style="height: 200px; overflow: hidden; margin-bottom:20px;">
        <a href="/images/IMDB_Graph.png">
          <img class = "project-img" src="/images/IMDB_Graph.png"  alt="project.jpg">
        </a>
        </div>
        <div class="project-info">
          This program uses D3 data visualization library to show the user IMBD movies data. It enables the user to delete/add
          extra nodes and edges.
        </div>
        <br><br>
        <div class="project-tools project-info">
          Tools:
          D3,
          ForceSimulation,
          Graphs,
          External API,
          HCI,
          Bootstrap
        </div>
      </div>    
      <div class="project-item col">
        <a href="http://137.184.74.25:3000/">Alumni Assiciation</a>
        <br>
        <div style="height: 200px; overflow: hidden; margin-bottom:20px;">
      <a href="/images/Alumni.png">
        <img class = "project-img" src="/images/Alumni.png" alt="project.jpg">
      </a>
        </div>
        <div class="project-info">
          It is a platform that I am building for the Alumni of my high school in Uzbekistan.
        </div>
        <div class="project-tools project-info">
          Tools:
          MongoDB,
          TelegramBOT API,
          EJS,
          WebAuth
        </div>
      </div>
    </div>
    <div class="row">

      <div class="project-item col">
        <a href="https://github.com/alielbekov/Practice">StackOverflow SQL db practice</a>
        <br>
        <div style="height: 200px; overflow: hidden; margin-bottom:20px;">

          <a href="/images/Stack.png">
             <img class = "project-img" src="/images/Stack.png" alt="project.jpg">
          </a>  
        </div>>
        <div class="project-info">
          An ASP.NET application that replicates StackOverflow by using its SQL database from 2010.
        </div>
        <br><br>
        <div class="project-tools project-info">
          Tools:
          SQL DB,
          LINQ,
          StackOverflow db 2010,
          ASP.NET Core
        </div>
      </div>
      <div class="project-item col">
        <a href="https://github.com/alielbekov/team-project-agra-wordle">Wordle JavaFX</a>
        <br>
        <div style="height: 200px; overflow: hidden; margin-bottom:20px;">

        <a href="/images/Wordle.png">  
        <img class = "project-img" src="/images/Wordle.png" alt="project.jpg">
       </a>
        </div>
        <div class="project-info">
          A JavaFX worlde application built together with <span><a href="https://github.com/sobitxanovr">Rustam,</a></span>
          <span><a href="">Alisha,</a></span> <span>and <a href="https://github.com/kevingrad">Grady</a></span>
        </div>
        <br>
        <div class="project-tools project-info">
          Tools:
          MongoDB,
          NodeJS API server,
          JavaFX library,
          Taiga.io,
          Teamwork

        </div>
      </div>
      </div>
      <div class="row">

      <div class="project-item col">
        <img class = "project-icon"
        src="https://raw.githubusercontent.com/alielbekov/HackPortfolio2023/main/public/favicon.ico" alt="">
        <a href="https://github.com/alielbekov/HackPortfolio2023">portfolio.tech</a>
        <br>
        <div style="height: 200px; overflow: hidden; margin-bottom:20px;">
        <a href="/images/portfoliotech.png">
         <img class = "project-img" src="/images/portfoliotech.png" alt="project.jpg">
        </a>
      </div>
        <div class="project-info">
          A web-app that helps you create a very basic portfolio website. It is not fully-functioning yet.
        </div>
        <div class="project-tools project-info">
          Tools:
          React,
          HTML,
          CSS,
          JavaScript
        </div>
      </div>

      <div class="project-item col">
        <a href="https://github.com/alielbekov/Travelling-Salesman">Travelling Salesperson</a>
        <br>
        <div style="height: 200px; overflow: hidden; margin-bottom:20px;">
        <a href="/images/Algorithm.png">
          <img class = "project-img" src="/images/Algorithm.png"  alt="project.jpg">
        </a>
        </div>
        <div class="project-info">
          This program uses heuristic and recursive approach to solve Travelling Salesman Problem.
          It helps the Salesman find the best way to travel across 10 cities.
        </div>
        <br><br>
        <div class="project-tools project-info">
          Tools:
          Java,
          heuristic algorithm,
          lazy algorithm,
          graph data structures
        </div>
      </div>
    </div>
    </div>
    <!-- <img style="border: solid 0px white;" class="skill-gif" src="/gifs/landing_final.gif" alt="gif should be here"> -->
  </div>
  <div class="home-info" id="message">

    <div class="experience-box">

    <h2 style="color:white;">My most recent experience:</h2>
    
    <div class="experience-item ">
      <h4>Backend Intern,</h4>
      <p> TheMimir.com,
        <br>Contemporary Education and Technology Inc.</p>

    </div>


    <div class="experience-item">
      <h4>Web-Programmer,</h4>
      <p>  Facilities Management, <br> The University of Arizona</p>

    </div>
    <div class="experience-item">
      <h4>Teaching Assistant, </h4>
      <p>Computer Science Dept., <br>The University of Arizona</p>


    </div>
      <div class="experience-item">
        <h4>English Tutor,</h4>
        <p>LangApex, <br>Time Trusted Quality</p>
      </div>
    </div>


  </div>

</div>
